<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pixel Reviews</title>
</head>
<body>
    {% if game %}
        <div>
            <img src="{{ game.image_url }}" alt="game cover">
            <h1>{{ game.title }}</h1>
            <h1>{{ game.description }}</h1>
            <h1>{{ game.release_date }}</h1>
            {% for developer in game.developers %}
                <h1>{{ developer.name }}</h1>
            {% endfor %}
            {% for publisher in game.publishers %}
                <h1>{{ publisher.name }}</h1>
            {% endfor %}
        </div>

        {% if rating %}
            <h1>Tu calificacion del juego: <p id="user-score">{{ rating.score }}</span></h1>
        {% endif %}
        
        <div class="rating-section">
            <h3>Calificar juego</h3>
            <div id="star-rating" data-game-id="{{ game.game_id }}">
                <span class="star" data-value="1">⭐</span>
                <span class="star" data-value="2">⭐</span>
                <span class="star" data-value="3">⭐</span>
                <span class="star" data-value="4">⭐</span>
                <span class="star" data-value="5">⭐</span>
            </div>
            <p id="rating-message"></p>
        </div>

        <a href="{{ url_for('reviews.review_game', slug=game.slug) }}">Review this game</a>
    {% endif %}

    {% if user_review %}
        <h3>Your Review</h3>
        <div>
            <h2>Title: {{ user_review.title }}</h2>
            <p>{{ user_review.content }}</p>
        </div>
    {% endif %}
    

    <script src="{{ url_for('static', filename='js/rate_game.js') }}"></script>
</body>
</html>