<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pixel Reviews</title>
</head>
<body>
    <h1>Login</h1>
    <form action="">
        <label for="username">Username</label>
        <input type="text" name="username" id="username">
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
        <button id="button">Login</button>
    </form>
    <p id="message"></p>
    <a href="{{ url_for('auth.sign_up') }}">Create an User</a>
    {% if error %}
        <p>{{ error }}</p>
    {% endif %}
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
</body>
</html>