<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pixel Reviews</title>
</head>
<body>
    <img src="" alt="foto de fondo">
    <img src="" alt="foto de perfil">
    <h3>Username: {{ user.username }}</h3>
    <h3>Email: {{ user.email }}</h3>
    <h3>Created At: {{ user.created_at }}</h3>
    <h3>Total Reviews: {{ user.reviews.count() }}</h3>
    <h3>Followers: {{ user.followers }}</h3>
    <h3>Following: {{ user.following }}</h3>
</body>
</html>