<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pixel Reviews</title>
</head>
<body>
    {% if games %}
        {% for game in games %}
            <a href="{{ url_for('main.game_details', slug=game.slug) }}">
                <div style="border: solid;">
                    <img src="{{ game.background_image }}" alt="cover game">
                    <h3>{{ game.title }}</h3>
                    <p>{{ game.released }}</p>
                </div>
            </a>
        {% endfor %}
    {% endif %}
</body>
</html>