<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pixel Rewiews</title>
</head>
<body>
    <h1>Create User</h1>
    <form>
        <label for="email">Email</label>
        <input type="email" name="email" id="email">
        <label for="username">Username</label>
        <input type="text" name="username" id="username">
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
        <label for="name">Name</label>
        <input type="text" name="name" id="name">
        <label for="lastname">Lastname</label>
        <input type="text" name="lastname" id="lastname">
        <label for="age">Age</label>
        <input type="date" name="age" id="age">
        <p id="mensaje"></p>
        <button id="button">Create</button>
    </form>
    <a href="{{ url_for('auth.login') }}">Login</a>
    <script src="../static/js/sign_up.js"></script>
</body>
</html>